.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* style */


.Header__container{
  margin-bottom: 5rem;
}
.Header{
  background-color: rgb(140, 216, 17);
  text-align: center;
}

.Footer{
  text-align: center;
  background-color: rgb(139, 240, 142);
}

.photo-card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@media screen and (max-width: 320px) {

  .photo-card-container{
    flex-direction: column;
  } 
}

.photo-card{
  display: block;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: .3rem;
  max-width: min-content;
  font-size: 10px;
}

.img-card{
  width: auto;
}

.paper-adjust{
  margin: .4rem;
  border-radius: 15px;
}

.button-group{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.test{
  background-color: coral;
}
